.container-fluid{
    height: 100vh;
    background-color: gainsboro;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 15px;
    margin-top: 2rem;
}
.home{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    width: 60%;
    height: 60vh;
    align-items: center;
    text-align: center;
    font-size: 32px;
}
/* About */
.img-responsive{
    width: 10rem;
    border-radius: 100%;
    align-items: center;
    height: 10rem;
    margin: 0 auto 20px;
}
.about{
    overflow-y: scroll;
    overflow-x: hidden;
}
.aboutme{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    margin-bottom: 4rem;
    width: 80%;
}
.cv{
    display: flex;
    justify-content: center;
}
.button{
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    height: 4rem;
    padding: 1rem;
    font-size: 24px;
    border-radius: 15px;
    color: green;
    font-weight: bold;
    margin-top: -2rem;
}
.mainstack{
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.stack{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 1rem;
    border-radius: 20px;
    width: 18rem;
}
.stack>h2{
    text-align: center;
    color: green;
    border-bottom: 2px solid black;
}
.projImage{
    margin-top: 2rem;
    height: 28rem;
    object-fit: contain;
    width: 10rem;
    border-radius: 20px;
    background-color: black;
    padding: 3rem;
}

.bold{
    height: 20rem;
    width: 10rem;
    object-fit: contain;
    background-color: #fff;
}
.foot{
    background-color: #fff;
    width: 100%;
    height: 20vh;
}
.footer{
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.footer >p{
    font-size: 40px;
    cursor: pointer;
}
/* contact */
form{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}
input{
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    padding-left: 13px;
    font-size: 18px;
    outline: none;
}
textarea{
width: 20rem;
outline: none;
border-radius: 16px;
}
.btnsend{
    font-size: 24px;
    border: none;
    width: 7rem;
    font-weight: bold;
    color: green;
    border-radius: 20px;
}
.btnsend:hover{
    background-color: rgb(161, 241, 10);
    font-weight: bold;
    color: red;
}
.button:hover{
    background-color: rgb(161, 241, 10);
    font-weight: bold;
    color: red;
}
.moving-text-container {
    overflow: hidden; /* Ensures the text stays within its container */
    width: 100%;
  }
  
  .moving-text {
    animation: marquee-effect 10s linear infinite; /* Adjust duration and timing function as needed */
  }
  
  @keyframes marquee-effect {
    0% {
      transform: translateX(100%); /* Start off screen */
    }
    100% {
      transform: translateX(-100%); /* Move completely off screen */
    }
  }
  

